@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #010615;
}

.container h1 button {
  background: #006dbc;
  color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float: right;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #010615;
}

.container.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.create-box form {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.create-box form input {
  height: 30px;
  border-radius: 40px;
  margin: 5px;
}

.create-box form button {
  background: #006dbc;
  color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float: right;
  cursor: pointer;
}

.create-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-box .user-box label {
  color: 000;
}

.create-box h2 {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
  margin: 50px;
}

.card .box {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
  cursor: pointer;
}

.card .box:hover {
  height: 400px;
}

.card .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.card .box .imgBx img {
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;
}

.card .box:hover .imgBx img {
  opacity: 1;
}

.card .box::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.card .box::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.card .box::before,
.card .box::after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.card .box:nth-child(2)::before,
.card .box:nth-child(2)::after {
  background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.card .box:nth-child(3)::before,
.card .box:nth-child(3)::after {
  background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.card .box .content {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.card .box:hover .content {
  opacity: 1;
}

.card .box .content h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}

.card .box .content h2 span {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
  text-decoration: none;
}

.card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .btn button {
  background: #006dbc;
  color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float: right;
  cursor: pointer;
}

.card .btn button:nth-child(1) {
  background: #ff005e;
}

.card .btn button a {
  text-decoration: none;
  color: #fff;
}

#popup,
#modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: transparent;
  border: none;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active,
#modal.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
